{% extends 'base.html' %} {% block title %}Chat Page{% endblock %}

{% block content %}

<div class="reg">
  <div class="identity3">

    <div id="mimobot">
      <img src="https://mimo.app/i/lightmode.png">
    <strong id="juju">Junate-Bot</strong>
    <button>Change</button>
    </div>
      <div id="chat-box" class="chat-boxy changeImage_1"></div>
  </div>
  
  <div class="register2">
    <div >
      <div class="newbie">
        <img src="https://mimo.app/i/hacker.png" alt="">
        <span class="form-item formling Store You"><strong>Change Background Image</strong></span>
       
        <button id="chatButton">Change Background</button>
        
        </div>
    </div>
   </div>
</div>
<div class="reg1">
  <div class="chatspace1">
    <div class="chatspace1-box">
    
    </div>
  </div>
  <form class="chatspace2" id="chat-form">
    <div class="chatspace2-box">
      <input class="chatspace2_input" placeholder="Message Junate-Bot" type="text" name="user_input" id="user_input" required>
      <button class="chatspace2_button" type="submit">></button>
    </div>
  </form>
  
  <div class="chatspace3">
    <div>
    </div>
  </div>
  
</div>
<script src="static/chat.js"></script>
<script src="static/change.js"></script>

{% endblock %}