{% extends 'base.html' %}{% block title %}Quiz{% endblock %} 
{% block content %}

    <style>
      *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.app{
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 10px auto 10px;
  border-radius: 10px;
  padding: 30px;
}
.app h1{
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;

}
.quiz{
  padding: 20px 0;
}
.quiz h2{
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}
.btn{
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 5px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover:not([disabled]){
  background: #222;
  color: #fff;
}
.btn:disabled{
  cursor: no-drop;
}
#next-btn, #next-level{
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 5px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
.correct{
  background: #6e4aff;
}
.incorrect{
  background: #6e4aff;
}
.exit_quiz{
  display: flex;
  justify-content: flex-end;
}
h1{
  display: flex;
  justify-content: center;
}
    </style>
   <div class="quizzes">
    <div class="app">
      <h1>Javascript Beginner Level</h1>
      <a class="exit_quiz" href="quiz">Exit</a>
      <div class="quiz">
        <h2 id="question">Questions</h2>
        <div id="answer-buttons">
          <button class="btn">Answer 1</button>
          <button class="btn">Answer 2</button>
          <button class="btn">Answer 3</button>
          <button class="btn">Answer 4</button>
        </div>
        <button id="next-btn">Next</button>
        <button id="next-level" onclick="navigate()">Next Level</button>
      </div>
    </div>
   </div> 
    
    
    <script>
      const questions = [
  {
    question: "What is the correct syntax to output 'Hello, World' in JavaScript?",
    answers: [
      { text: "print('Hello, World')", correct: false},
      { text: "echo('Hello, World')", correct: false},
      { text: "document.write('Hello, World')", correct: false},
      { text: "console.log('Hello, World')", correct: true},
    ]
  },
  {
    question: "How do you create a function in JavaScript?",
    answers: [
      { text: "function myFunction()", correct: true},
      { text: "def myFunction()", correct: false},
      { text: "func myFunction()", correct: false},
      { text: "function:myFunction()", correct: false},
    ]
  },
  {
    question: "Which operator is used to assign a value to a variable in JavaScript?",
    answers: [
      { text: "*", correct: false},
      { text: "=", correct: true},
      { text: "-", correct: false},
      { text: "+", correct: false},
    ]
  },
  {
    question: "How do you declare a JavaScript variable?",
    answers: [
      { text: "var carName;", correct: true},
      { text: "variable carName;", correct: false},
      { text: "v carName;", correct: false},
      { text: "string carName;", correct: false},
    ]
  },
  {
    question: "Which symbol is used for comments in JavaScript?",
    answers: [
      { text: "//", correct: true},
      { text: "<-->", correct: false},
      { text: "/**/", correct: false},
      { text: "#", correct: false},
    ]
  },
  {
    question: "What is the correct way to write an array in JavaScript?",
    answers: [
      { text: "var colors = ['red', 'green', 'blue']", correct: true},
      { text: "var colors = 'red', 'green', 'blue'", correct: false},
      { text: "var colors = (red, green, blue)", correct: false},
      { text: "var colors = {red, green, blue}", correct: false},
    ]
  },
  {
    question: "How do you create a conditional statement in JavaScript?",
    answers: [
      { text: "if i = 5", correct: false},
      { text: "if (i == 5)", correct: true},
      { text: "if i == 5 then", correct: false},
      { text: "if i equals 5", correct: false},
    ]
  },
  {
    question: "Which event occurs when the user clicks on an HTML element?",
    answers: [
      { text: "onclick", correct: true},
      { text: "onmouseclick", correct: false},
      { text: "onmouseover", correct: false},
      { text: "onchange", correct: false},
    ]
  },
  {
    question: "How can you add a comment in JavaScript?",
    answers: [
      { text: "/*This is a comment*/", correct: false},
      { text: "//This is a comment", correct: true},
      { text: "#This is a comment", correct: false},
      { text: "'This is a comment'", correct: false},
    ]
  },
  {
    question: "What is the correct syntax for referring to an external script called 'script.js'",
    answers: [
      { text: "<script name='script.js'>", correct: false},
      { text: "<script src='script.js'>", correct: true},
      { text: "<script href='script.js'>", correct: false},
      { text: "<script link='script.js'>", correct: false},
    ]
  }
];

const questionElement = document.getElementById("question");
const answerButtons = document.getElementById("answer-buttons");
const nextButton = document.getElementById("next-btn");
const nextLevelButton = document.getElementById("next-level");

let currentQuestionIndex = 0;
let score = 0;

function startQuiz(){
  currentQuestionIndex = 0;
  score = 0;
  nextButton.innerHTML = "Next";
  showQuestion();
}

function showQuestion(){
  resetState();
  let currentQuestion = questions[currentQuestionIndex];
  let questionNo = currentQuestionIndex + 1;
  questionElement.innerHTML = questionNo + ". " + currentQuestion.question;

  currentQuestion.answers.forEach(answer => {
    const button = document.createElement("button");
    button.innerHTML = answer.text;
    button.classList.add("btn");
    answerButtons.appendChild(button);
    if(answer.correct){
      button.dataset.correct = answer.correct;
    }
    button.addEventListener("click", selectAnswer);
  });
}

function resetState(){
  nextButton.style.display = "none";
  while(answerButtons.firstChild){
    answerButtons.removeChild(answerButtons.firstChild);
  }
}

function selectAnswer(e){
  const selectedBtn = e.target;
  const isCorrect = selectedBtn.dataset.correct === "true";
  if(isCorrect){
    selectedBtn.classList.add("correct");
    score++;
  }else{
    selectedBtn.classList.add("incorrect");
  }
  Array.from(answerButtons.children).forEach(button => {
    button.disabled = true;
  });
  nextButton.style.display = "block";
}

function showScore(){
  resetState();
  nextButton.innerHTML = "Play Again";
  nextButton.style.display = "block";
 if(score === 10){
    questionElement.innerHTML = `You scored ${score} out of ${questions.length}!. Hurray!!! You won. You can now try out the next level`;
    nextLevelButton.innerHTML = "Next Level";
    nextLevelButton.style.display = "block";

  }else if(score === 9){
    questionElement.innerHTML = `You scored ${score} out of ${questions.length}!. So close but try again.`;
  }else{
    questionElement.innerHTML = `You scored ${score} out of ${questions.length}!. You need to put in more effort.`;
  }  
}

function handleNextButton(){
  currentQuestionIndex++;
  if(currentQuestionIndex < questions.length){
    showQuestion();
  }else{
    showScore();
  }
}

function navigate() {
    window.location.href = '#';
}

nextButton.addEventListener("click", ()=>{
  if(currentQuestionIndex < questions.length){
    handleNextButton();
  }else{
    startQuiz();
  }
})

startQuiz();
    </script>

{% endblock %}