{% extends 'base.html' %} {% block title %}Home Page{% endblock %}

{% block content %}
<div class="reg">
      <div class="identity2">
        <img src="../static/images/sql.png">
        <details>
          <summary>
            SQL
          </summary>
          <ul id="lista">
            <li class="listic"><a href="sql1" class="btn-primary">Beginner</a></li>
            <li class="listic blue"><a href="sql2" class="btn-primary inter">Intermediate</a></li>
            <li class="listic darkred"><a href="sql3" class="btn-primary expert">Expert</a></li>
          </ul>
        </details>
       
        
      </div>
      <div class="write">
        <img src="../static/images/python.png">
        <details>
          <summary>
            Python
          </summary>
          <ul id="lista">
            <li class="listic"><a href="python1" class="btn-primary">Beginner</a></li>
            <li class="listic blue"><a href="python2" class="btn-primary inter">Intermediate</a></li>
            <li class="listic darkred"><a href="python3" class="btn-primary expert">Expert</a></li>
          </ul>
        </details>
      </div>
      <div class="write">
        <img src="../static/images/javascript.png">
        <details>
          <summary>
            Javascript
          </summary>
          <ul id="lista">
            <li  class="listic"><a href="javascript1" class="btn-primary">Beginner</a></li>
            <li class="listic blue"><a href="javascript2" class="btn-primary inter">Intermediate</a></li>
            <li class="listic darkred"><a href="javascript3" class="btn-primary expert">Expert</a></li>
          </ul>
        </details>
       </div>
   </div>
  
 <p>
  <div class="row">
      <div class="card card1">
        <div class="card-body">
          <h5 class="card-title">Junate World Quiz</h5>
          <p class="card-text">Select from the options above and rack your brain out.</p>
          <a href="#" class="btn-primary">Quiz World</a>
        </div>
    </div>
  </div>
  </p>

<div class="image">
  <div class="img">
    <img src="https://mimo.app/i/moon.png">
    <img src="https://mimo.app/i/lightmode.png">
    <img src="https://mimo.app/i/beach-dog.png">
    <img src="https://mimo.app/i/bitcoin.png" class="bitcoin">
    <img class="tower" src="https://mimo.app/i/eiffel.png">
    <img class="absolute" src="https://mimo.app/i/bug.png">

  </div>
  <div class="img">
    <img src="https://mimo.app/i/alexander.png" class="bitcoin">
    <img class="tower" src="https://mimo.app/i/eiffel.png">
    <img class="absolute" src="https://mimo.app/i/bug.png">
    <img src="https://mimo.app/i/lada.png">
    <img src="https://mimo.app/i/lightmode.png">
    <img src="https://mimo.app/i/beach-dog.png">
  </div>
</div>
{% endblock %}
